body {
    background-color: #F1F1F1;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
    color: #000;
}

.dark {
    background-color: #292C35;
    color: #fff;
}

.dark button {
    background-color: #F1F1F1;
    margin-left: 110px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
}


.switcher {
    width: 180px;
    height: 80px;
    border-radius: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

img {
    position: absolute;
}

.sun {
    padding-left: 110px;
}

button {
    background-color: #F1F1F1 !important;
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    border: none;
    transition: margin 1s;
}

button:hover {
    cursor: pointer;
}
